
.section-one {
  flex:1;
  display: flex;
  flex-direction: column;
  background-color:#1f3b4d;
  margin-right:18%;
  margin-left:18%;
}

.header-container{

}
.header {
  gap:48px;
  min-width: 610.26px;
  max-width: 700px;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #1f3b4d;
  
}

.logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.links {
  display:flex;
  gap:16px;
}

.first-banner {
  flex-shrink:1;
  min-width:100px;
  max-width:700px;
  padding-top: 52px;
  padding-bottom: 52px;
  margin:auto;
  display: flex;
  background-color:#1f3b4d;
}

.title {
  font-size:42px;
}

.first-banner .text{
  margin-top:6px;
}

.description-column{
  color: #eeeeee;
  padding-right:20px;
  max-width:50%;
  width:50%;  
}

button {
  cursor: pointer;
  margin-top:12px;
}

button.sign-up {
  border-radius:8px;
  padding:8px;
  padding-right:24px;
  padding-left:24px;
  flex: 0 1 0;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.image-column {
  padding-left:20px;
  background-color: gray;
  width:400px;
  flex:1;
}

.section-two {
  display:flex;
  align-items:center;
  flex-direction:column;
  background-color:#fefefe;
  height:1000px;
}

.section-two .title{
  margin-top:32px;
  margin-bottom:32px;
  font-size:28px;
  font-weight:700;
}

.cards {
  gap:32px;
  display:flex;
}

.card {
  display:flex;
  flex: 1;
  flex-direction:column;
  width:100px;
  align-items:center;
}

.card .image{
  flex-grow:1;
  border-radius:10px;
  border: 3px solid lightblue;
  width:100px;
  height:100px;
}

.card .text{
  font-size:14px;
  color:#666666;
}

a {
  text-decoration: none;
  color: #cccccc;
}

html {
  display:flex;
}

/*commit message: 

Add new div to color background

Couldnt add color to whole background. Margins were also added to separate text from image's placeholder.
html{
  background-color: #1f3b4d;
}
*/
